@{
    ViewBag.Title = "WHAT WOULD YOU DO?";
}


<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <a href="~/Views/Home/5N1K.cshtml">
                <div class="thumbnail">
                    <img src="~/Content/bg/nnnnnk.png" />
                    <div class="caption post-content">
                        <p class="yazi" style="padding-top:12px">5N1K</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="~/Views/Home/WWYD.cshtml">
                <div class="thumbnail">
                    <img src="~/Content/bg/thinking.jpg" />
                    <div class="caption post-content">
                        <p class="yazi">Sen Olsan Ne Yapardın?</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="~/Views/Home/Dreams.cshtml">
                <div class="thumbnail">
                    <img src="~/Content/bg/dreams.jpg" />
                    <div class="caption post-content">
                        <p class="yazi" style="padding-top:12px">Hayal Et!</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="~/Views/Rate/Index.cshtml">
                <div class="thumbnail">
                    <img src="~/Content/bg/rating.jpg" />
                    <div class="caption post-content">
                        <p class="yazi" style="padding-top:12px">Derecelendir!</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="~/Views/Home/Ideas.cshtml">
                <div class="thumbnail">
                    <img src="~/Content/bg/idea.jpg" />
                    <div class="caption post-content">
                        <p class="yazi"  style="padding-top:12px">Bir Fikrim Var!</p>
                    </div>
                </div>
            </a>
        </div><div class="col-md-4">
            <a href="~/Views/Home/Complaints.cshtml">
                <div class="thumbnail">
                    <img src="~/Content/bg/complaints.jpg" />
                    <div class="caption post-content">
                        <p class="yazi">Mızmızlanma Bölümü!</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>