@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WWYD</h1>
    <p class="lead">            What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  .</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>WWYD</h2>
        <p>
            <br />
            What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>WWYD</h2>
        What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  
    </div>
    <div class="col-md-4">
        
        <h2>WWYD</h2>
        What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  What Would You Do?  
    </div>
</div>