@{
    ViewBag.Title = "WHAT WOULD YOU DO?";
}


<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/bg/nnnnnk.png"/>
                <div class="caption post-content" style="color:white">
                    <p style="color:white">5N1K</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Sen olsan ne yapardın?</h2>
            <img src="~/Content/bg/thinking.jpg" class="img-responsive" />
        </div>
        <div class="col-md-4">
            <h2>WWYD</h2>
            <img src="~/Content/bg/dreams.jpg" class="img-responsive" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>WWYD</h2>
            <img src="~/Content/bg/idea.jpg" class="img-responsive" />
        </div>
        <div class="col-md-4">
            <h2>WWYD</h2>
            <img src="~/Content/bg/rating.jpg" class="img-responsive" />
        </div>
        <div class="col-md-4">
            <h2>WWYD</h2>
            <img src="~/Content/bg/complaints.jpg" class="img-responsive" />
        </div>
    </div>
</div>